<section class="container builds ff-inter">
    <form>
        <header class="header">
            <h2>Histórico do fechamento do território de Prédios</h2>
        </header>

        <div class="mural">
            <div class="ff-roboto-mono">
                <table class="territorio-table">
                    <tr class="territorio-row">
                        <td class="duas-colunas"><span>Total de Apartamentos feitos: {{historico.numAptosFeitos}}</span></td>
                        <td class="duas-colunas"><span>Total de Apartamentos: {{historico.totAptos}}</span></td>
                        <td class="duas-colunas"><span>Data de início: {{historico.dataIni}}</span></td>
                        <td class="duas-colunas"><span>Data de término: {{historico.dataFim}}</span></td>
                        <td class="duas-colunas"><span>Total de dias: {{historico.totDias}}</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</section>