<section class="container builds ff-inter">
    <form>
        <header class="header">
            <h2>Histórico do fechamento do território de Prédios</h2>
        </header>

        <div class="mural" *ngIf="historico && historico.id != null, else semDados">
            <div>
                <table class="dados-table">
                    <tr class="territorio-row">
                        <td class="duas-colunas">
                            <span><label>Total de Apartamentos feitos:</label> {{historico.numAptosFeitos}}</span>
                        </td>
                    </tr>
                    <tr class="territorio-row">
                        <td class="duas-colunas">
                            <span><label>Total de Apartamentos:</label> {{historico.totAptos}}</span>
                        </td>
                    </tr>
                    <tr class="territorio-row">
                        <td class="duas-colunas">
                            <span><label>Data de início:</label> {{historico.dataIni | date:'dd/MM/yyyy'}}</span>
                        </td>
                    </tr>
                    <tr class="territorio-row">
                        <td class="duas-colunas">
                            <span><label>Data de término:</label> {{historico.dataFim | date:'dd/MM/yyyy'}}</span>
                        </td>
                    </tr>
                    <tr class="territorio-row">
                        <td class="duas-colunas">
                            <span><label>Total de dias:</label> {{historico.totDias}}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <ng-template #semDados>
            <div class="ff-inter sem-info">
                <p>Nenhum dado disponível!</p>
          </div>
        </ng-template>
    </form>
</section>