.cabecalho {
  background-size: cover;
  background: #1565c0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalho .logo {
  width: 46%;
  padding: 2rem 3rem;
}

.cabecalho .logo img {
  width: 90%;
  max-width: 350px;
  margin-bottom: 2rem;
}

.cabecalho .imagem{
  width: 40%;
}

.cabecalho p {
  font-size: 2rem;
  color: #6BD1FF;
}

.navbar {
    width: auto;
    background: #1976d2;
    padding: 5px 24px;
    box-sizing: border-box;
    margin: 0;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navbar li {
    margin: 0 24px;
    transition: background 0.2s, color 0.2s;
    border-radius: 4px;
}

.navbar li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    transition: background 0.2s, color 0.2s;
    border-radius: 4px;
    cursor: pointer;
}

.navbar li.active {
    height: 100%;
    padding: 0;
}

.navbar li.active a {
    background: #1565c0;
    color: #ffd600;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar li:hover a {
    background: #1565c0;
    color: #ffd600;
}

@media (max-width: 576px) {
  .cabecalho .logo {
    padding: 2rem;
  }
  .cabecalho p {
    font-size: 1.5rem
  }
}

@media (max-width: 768px) {
  .cabecalho .logo {
    width: 90%;
  }
  .cabecalho .imagem {
    display: none;
  }
}