<header class="cabecalho ff-inter">
    <div class="logo">
        <p>Cabeçalho da Aplicação</p>
    </div>
</header>
<div>
    <nav class="navbar container full-width">
         <!-- Botão hamburguer -->
        <button class="menu-toggle" (click)="menuAberto = !menuAberto">☰</button>

        <!-- Menu -->
        <ul [class.aberto]="menuAberto">
        <li routerLink="/home" routerLinkActive="active" (click)="menuAberto = false"><a>Home</a></li>
        <li routerLink="/listarTerritorio" routerLinkActive="active" (click)="menuAberto = false"><a>Territórios</a></li>
        <li routerLink="/cadastrarTerritorio" routerLinkActive="active" (click)="menuAberto = false"><a>Cadastrar</a></li>
        <li routerLink="/enviarAptos" routerLinkActive="active" (click)="menuAberto = false"><a>Enviar Aptos</a></li>
        </ul>
    </nav>
</div>