<header class="cabecalho ff-inter">
    <div class="logo">
        <img src="assets/images/icone.png" class="logo">
        <p>Baeta Builds</p>
    </div>
</header>
<div>
    <nav class="navbar container full-width">
         <!-- Botão hamburguer -->
        <button class="menu-toggle" (click)="menuAberto = !menuAberto">☰</button>

        <!-- Menu -->
        <ul [class.aberto]="menuAberto">
        <li routerLink="/home" routerLinkActive="active" (click)="menuAberto = false"><a>Home</a></li>
        <li routerLink="/listarTerritorio" routerLinkActive="active" (click)="menuAberto = false"><a>Territórios</a></li>
        <li routerLink="/cadastrarTerritorio" routerLinkActive="active" (click)="menuAberto = false"><a>Cadastrar</a></li>
        <li routerLink="/enviarAptos" routerLinkActive="active" (click)="menuAberto = false"><a>Enviar Aptos</a></li>
        <li routerLink="/estatisticas" routerLinkActive="active" (click)="menuAberto = false"><a>Estatísticas</a></li>
        <li routerLink="/historico" routerLinkActive="active" (click)="menuAberto = false"><a>Histórico</a></li>
        <li routerLink="/resetar" routerLinkActive="active" (click)="menuAberto = false"><a>Resetar</a></li>

        <li (click)="logout()"><a>Sair</a></li>
        </ul>
    </nav>
</div>