<header class="cabecalho ff-inter">
    <div class="logo">
        <p>Cabeçalho da Aplicação</p>
    </div>
</header>
<br/>
<div>
    <nav class="navbar container full-width d-flex">
        <ul class="d-flex  links">
            <li
                routerLink="/home"
                routerLinkActive="active"
                class="links-nav py-1"><a>Home</a>
            </li>
            <li
                routerLink="/listarTerritorio"
                routerLinkActive="active"
                class="links-nav py-1"><a>Territórios</a>
            </li>
            <li
                routerLink="/cadastrarTerritorio"
                routerLinkActive="active"
                class="links-nav py-1"><a>Cadastrar</a>
            </li>
        </ul>
    </nav>
</div>