<section class="container builds ff-inter">
    <form [formGroup]="formulario">
        <header class="header">
            <h2>Cadastrar novo território:</h2>
        </header>
        
        <label for="nomeTorre">Nome da Torre:</label>
        <input type="text" id="nomeTorre" formControlName="nomeTorre" class="input">
    
        <label for="endereco">Endereço:</label>
        <input type="text" id="endereco" formControlName="endereco" class="input" required>

        <div>
            <table>
                <tr>
                    <td>
                        <label for="cep">CEP:</label>
                    </td>
                    <td>
                        <input type="text" id="cep" formControlName="cep" class="input" required>
                    </td>
                    <td>
                        <label for="totalAptosTorre">Total de Aptos na Torre:</label>
                    </td>
                    <td>
                        <input type="number" id="totalAptosTorre" formControlName="totalAptosTorre" class="input" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="primAndIni">Primeiro Andar (Início):</label>
                    </td>
                    <td>
                        <input type="number" id="primAndIni" formControlName="primAndIni" class="input" required>
                    </td>
                    <td>
                        <label for="primAndFim">Primeiro Andar (Fim):</label>
                    </td>
                    <td>
                        <input type="number" id="primAndFim" formControlName="primAndFim" class="input" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="ultAndIni">Último Andar (Início):</label>
                    </td>
                    <td>
                        <input type="number" id="ultAndIni" formControlName="ultAndIni" class="input">
                    </td>
                    <td>
                        <label for="ultAndFim">Último Andar (Fim):</label>
                    </td>
                    <td>
                        <input type="number" id="ultAndFim" formControlName="ultAndFim" class="input">
                    </td>
                </tr>
            </table>
        </div>
        
        <div class="acoes">
            <button (click)="cadastrarTeritorio()" class="botao">Cadastrar</button>
            <button (click)="cancelar()" class="botao">Cancelar</button>
        </div>
    </form>
</section>