.acoes {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.botao {
  margin: 5px;
  margin-top: 170px;
  width: 200px;
}

.botao__desabilitado {
  margin: 5px;
  margin-top: 175px;
  width: 200px;
  cursor: not-allowed;
}