footer {
  background: #1565c0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}

.TextoCopyright {
  text-align: center;
  width: 100%;
  color: black;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  display: block;
}

.LogoRodape {
  justify-self: center;
  grid-area: LogoRodape;
}

footer small {
  color: black;
}

@media (max-width: 576px) {
  .cabecalho .logo {
    padding: 2rem;
  }

  .cabecalho p {
    font-size: 1.5rem
  }
}

@media (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }
}