<section class="container builds ff-inter">
    <form>
        <header class="header">
            <h2>Estatísticas de envio de Apartamentos</h2>
        </header>

        <div class="mural" *ngIf="estatisticas && estatisticas.id != null, else semDados">
            <div class="ff-roboto-mono">
                <table class="territorio-table">
                    <tr class="territorio-row">
                        <td class="duas-colunas"><span>Total de Apartamentos feitos: {{estatisticas.totalAptosFeitos}}</span></td>
                    </tr>
                    <tr class="territorio-row">
                        <td class="duas-colunas"><span>Total de Apartamentos não feitos: {{estatisticas.totalAptosNaoFeitos}}</span></td>
                    </tr>
                    <tr class="territorio-row">
                        <td class="duas-colunas"><span>Total de Territórios feitos: {{estatisticas.totalTerritoriosFeitos}}</span></td>
                    </tr>
                    <tr class="territorio-row">
                        <td class="duas-colunas"><span>Total de Territórios não feitos: {{estatisticas.totalTerritoriosNaoFeitos}}</span></td>
                    </tr>
                    <tr class="territorio-row">
                        <td class="duas-colunas"><span>Total de dias: {{estatisticas.totalDias}}</span></td>
                    </tr>
                    <tr class="territorio-row">
                        <td class="duas-colunas"><span>Apartamentos por dia: {{estatisticas.mediaAptosPorDia}}</span></td>
                    </tr>
                </table>
            </div>
        </div>
        <ng-template #semDados>
            <div class="ff-inter sem-info">
                <p>Nenhum dado disponível!</p>
          </div>
        </ng-template>
    </form>
</section>