<section class="container builds ff-inter">
    <form>
        <header class="header">
            <h2>Estatísticas de envio de Apartamentos</h2>
        </header>

        <div class="mural" *ngIf="estatisticas && estatisticas.id != null, else semDados">
            <div>
                <table class="territorio-table">
                    <tr class="territorio-row">
                        <td class="duas-colunas">
                            <span><label>Total de Apartamentos feitos:</label> {{estatisticas.totalAptosFeitos}}</span>
                        </td>
                    </tr>
                    <tr class="territorio-row">
                        <td class="duas-colunas">
                            <span><label>Total de Apartamentos não feitos:</label> {{estatisticas.totalAptosNaoFeitos}}</span>
                        </td>
                    </tr>
                    <tr class="territorio-row">
                        <td class="duas-colunas">
                            <span><label>Total de Territórios feitos:</label> {{estatisticas.totalTerritoriosFeitos}}</span>
                        </td>
                    </tr>
                    <tr class="territorio-row">
                        <td class="duas-colunas">
                            <span><label>Total de Territórios não feitos:</label> {{estatisticas.totalTerritoriosNaoFeitos}}</span>
                        </td>
                    </tr>
                    <tr class="territorio-row">
                        <td class="duas-colunas">
                            <span><label>Total de dias:</label> {{estatisticas.totalDias}}</span>
                        </td>
                    </tr>
                    <tr class="territorio-row">
                        <td class="duas-colunas">
                            <span><label>Apartamentos por dia:</label> {{estatisticas.mediaAptosPorDia}}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <ng-template #semDados>
            <div class="ff-inter sem-info">
                <p>Nenhum dado disponível!</p>
          </div>
        </ng-template>
    </form>
</section>